In [1]:
your_list = ["abhigna", "abcdv", 12]

In [2]:
type(your_list)

list

# LISTS
the above "your_list" is a list in python.

The list is a collection of items in an order. the list can contain items of the same or diffrent data type.

### declaration of the list
In Python, the lists are written within [] square brackets. Each of the items are separated by a ',' comma and are written within quotes.

In [3]:
your_list

['abhigna', 'abcdv', 12]

### accessing the elements in lists
when we want a particular item in the declared list, we will have to mention its index number within []

In [4]:
your_list[0]

'abhigna'

The indices start from '0' as in strings. And go on until the end of the list.

**length of the list**
    The length of the list is given out by the len() function.

In [5]:
len(your_list)

3

### the diffrent ways of accessing the list elements are as follows:

In [6]:
your_list[-1]

12

In [7]:
your_list[len(your_list)-1]

12

### using individual items
we can use individual values from the lists, as follows:

In [11]:
message = f"{your_list[0]} and {your_list[1]} are best friends"
print(message)

abhigna and abcdv are best friends

In [12]:
print(f"{your_list[0].title()}")

Abhigna

# CHANGING, ADDING AND REMOVING FROM LISTS

### Replacing or Modifying elements in lists

In [13]:
check_list = ['dog','cat','horse','elephant','hen','duck','pig','human']

In [14]:
len(check_list)

8

In [15]:
check_list[7] = 'cow'

In [16]:
check_list

['dog', 'cat', 'horse', 'elephant', 'hen', 'duck', 'pig', 'cow']

### Adding an element to the list
**append() method**

In [17]:
check_list.append('goat')

In [18]:
check_list

['dog', 'cat', 'horse', 'elephant', 'hen', 'duck', 'pig', 'cow', 'goat']

**insert() method**

In [19]:
check_list.insert(0,'sheep')

In [20]:
check_list

['sheep',
 'dog',
 'cat',
 'horse',
 'elephant',
 'hen',
 'duck',
 'pig',
 'cow',
 'goat']

### Removing elements from the list
**delete() method**

In [21]:
del check_list[6]

In [22]:
check_list

['sheep', 'dog', 'cat', 'horse', 'elephant', 'hen', 'pig', 'cow', 'goat']

**pop() method**

In [23]:
check_list.pop()

'goat'

In [24]:
check_list

['sheep', 'dog', 'cat', 'horse', 'elephant', 'hen', 'pig', 'cow']

**pop() from specific position**

In [25]:
check_list.pop(4)

'elephant'

In [26]:
check_list

['sheep', 'dog', 'cat', 'horse', 'hen', 'pig', 'cow']

**removing an item by value**

In [27]:
check_list.remove('horse')

In [28]:
check_list

['sheep', 'dog', 'cat', 'hen', 'pig', 'cow']

# problems
(1) If you could invite anyone, living or deceased, to dinner, who would you invite? Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner.

In [29]:
dinner_invites = ['arjun', 'anusha', 'cathy', 'aishwarya', 'kavya', 'karthik', 'swathi']

In [34]:
print(f"{dinner_invites.pop(0)} please make yourself free for dinner tonight!.")

arjun please make yourself free for dinner tonight!.

In [36]:
print(f"{dinner_invites.pop(1)} please make yourself free for dinner!!..")

aishwarya please make yourself free for dinner!!..

In [37]:
dinner_invites

['cathy', 'kavya', 'karthik', 'swathi']

In [39]:
print(f"{dinner_invites[1]} cannot make it!")

kavya cannot make it!

In [41]:
print(f"{dinner_invites[-1]} cannot make it!.")

swathi cannot make it!.

replacing the friends who cannot make it to dinner with new invites!

In [42]:
dinner_invites[1] = 'Ajun raju'

In [43]:
dinner_invites[-1] = 'Anusha k vinay'

In [44]:
dinner_invites

['cathy', 'Ajun raju', 'karthik', 'Anusha k vinay']

new set of people who are invited to the dinner reservations!

In [45]:
dinner_invites.insert(0,'kavya s')

In [46]:
dinner_invites.insert(3,'aishwarya')

In [47]:
dinner_invites.append('arna')

In [48]:
dinner_invites

['kavya s',
 'cathy',
 'Ajun raju',
 'aishwarya',
 'karthik',
 'Anusha k vinay',
 'arna']

In [49]:
del dinner_invites[-1]

In [50]:
dinner_invites

['kavya s', 'cathy', 'Ajun raju', 'aishwarya', 'karthik', 'Anusha k vinay']

# organising a list

### sorting the list **permanently** with sort() method

In [51]:
food_items = ['guava', 'pineapple', 'custard apple', 'banana', 'peach', 'papaya']

In [52]:
food_items.sort()

In [53]:
food_items

['banana', 'custard apple', 'guava', 'papaya', 'peach', 'pineapple']

and to print in the **reverse** order

In [54]:
food_items.sort(reverse = True)

In [55]:
food_items

['pineapple', 'peach', 'papaya', 'guava', 'custard apple', 'banana']

### reverse method

In [62]:
alphabets = ['b', 'w', 'u', 'a', 'i', 'q', 'o', 'x']

In [63]:
alphabets.reverse()

In [64]:
alphabets

['x', 'o', 'q', 'i', 'a', 'u', 'w', 'b']

# problems
Think of at least five places in the world you’d like to visit. Store the locations in a list. Make sure the list is not in alphabetical order. Print your list in its original order. Don’t worry about printing the list neatly, just print it as a raw Python list.

In [65]:
places = ['munnar', 'wayanad', 'thekkadi', 'allaphuza', 'bellam caves', 'coorg', 'kabini', 'nagarhole']

In [66]:
print(places)

['munnar', 'wayanad', 'thekkadi', 'allaphuza', 'bellam caves', 'coorg', 'kabini', 'nagarhole']

In [71]:
print("the reverse order of the original list is : ")
places.reverse()
places

the reverse order of the original list is :

['nagarhole',
 'kabini',
 'coorg',
 'bellam caves',
 'allaphuza',
 'thekkadi',
 'wayanad',
 'munnar']

In [72]:
print("the sorted order of the list is : ")
places.sort()
print(places)

the sorted order of the list is :
['allaphuza', 'bellam caves', 'coorg', 'kabini', 'munnar', 'nagarhole', 'thekkadi', 'wayanad']