# TUPLES
### defining a tuple
Lists are used for sorting the items and adding and doing diffrent manipulations. where as the tuples are **immutable** wherein we cannot alter or change the items. Pytyhon refers to this immutable list as **TUPLE**

In [1]:
#defining a tuple
dimensions = (123,234)

In [2]:
print(dimensions[0])
print(dimensions[1])

123
234

mixed_type = ('c','o',0,'k','i','e')
for i in mixed_type:
    print(i,':',type(i))

In [8]:
#trying to change mixed_type[2] from 0 to 'o'
mixed_type[2] = 'o'

TypeError: 'tuple' object does not support item assignment

In [9]:
#another way of creating tuple
numb_tup = 1,2,3,4,5,6,7,8
print(type(numb_tup))

<class 'tuple'>

In [10]:
check = (1,1,[3,4])

In [11]:
id(check[0]) == id(check[1])

True

**the above example indicates that the tuples with same items will have same id values.**

we can mutate the tuple value

In [13]:
check[2].append(5)

In [15]:
check

(1, 1, [3, 4, 5])

### **over-writing** of tuples can be done

In [16]:
print("the original dimension values are : ",dimensions)
dimensions = (76421,9218621)
print("the modified dimensions values are : ",dimensions)

the original dimension values are :  (123, 234)
the modified dimensions values are :  (76421, 9218621)

### slicing in tuples

In [17]:
no_tup = 1,2,3,4,5,6,7,8

In [18]:
type(no_tup)

tuple

In [19]:
no_tup[1:4]

(2, 3, 4)

In [20]:
#displaying full tuple items
no_tup[:]

(1, 2, 3, 4, 5, 6, 7, 8)

### increment operation

In [21]:
no_tup[::2]

(1, 3, 5, 7)

**reverse the display**

In [22]:
no_tup[::-1]

(8, 7, 6, 5, 4, 3, 2, 1)

### TUPLE FUNCTIONS
count() and len()

In [3]:
#count returns the number of occurances in the tuple.
example = 1,2,3,4,4,2,3,9,8,8

In [4]:
type(example)

tuple

In [5]:
example.count(8)

2

In [6]:
len(example)

10

In [7]:
print(any(example))

True

In [8]:
min(example)

1

In [9]:
max(example)

9

In [10]:
sum(example)

44

In [11]:
sorted(example)

[1, 2, 2, 3, 3, 4, 4, 8, 8, 9]

### assign MULTIPLE VALUES to the tuple

In [12]:
a = (1,2,3)

In [13]:
(one,two,three) = a

In [14]:
print(one)
print(two)
print(three)

1
2
3

the above example states that 1,2,3 are the items of 'a' and (one,two,three) are variable assignments for the values.
and hence we can print out the values with variable names!

# DICTIONARIES

In [1]:
#declaring a dictionary
nums = {'one':'1','two':'2','three':'3'}

In [2]:
nums

{'one': '1', 'two': '2', 'three': '3'}

In [4]:
#accessing the items in the dictionary
nums['one']

'1'

In [5]:
#adding new values into the dictionary
nums['four']='4'

In [6]:
nums

{'one': '1', 'two': '2', 'three': '3', 'four': '4'}

In [7]:
#modifying the values
nums['four']='FOUR'

In [8]:
nums

{'one': '1', 'two': '2', 'three': '3', 'four': 'FOUR'}

In [2]:
#removing a key value pair
names = {'abhigna':'prasad','arjun':'raju','anusha':'vinay'}
del names['abhigna']

In [3]:
names

{'arjun': 'raju', 'anusha': 'vinay'}

### activity

In [4]:
person_details = {'first_name':'Abhigna','last_name':'prasad','age':'22','city':'Bengaluru'}

In [5]:
print(person_details['first_name'])

Abhigna

In [6]:
print(person_details['last_name'])

prasad

In [7]:
print(person_details['age'])

22

In [8]:
print(person_details['city'])

Bengaluru

In [9]:
fav_numbers = {'abhigna':'8','arjun':'31','anusha':'17','cathy':'18'}
print(fav_numbers['abhigna'])
print(fav_numbers['arjun'])
print(fav_numbers['anusha'])
print(fav_numbers['cathy'])

8
31
17
18

### looping through the dictionary
**through key value pairs in the dictionary**

In [10]:
fav_numbers

{'abhigna': '8', 'arjun': '31', 'anusha': '17', 'cathy': '18'}

In [11]:
for name,dob in fav_numbers.items(): #.items() is used because it will return all the items in the dictionary
    print(name.upper()+"'s birthday is on "+dob+".")
print("the dictionary list is done here!")

ABHIGNA's birthday is on 8.
ARJUN's birthday is on 31.
ANUSHA's birthday is on 17.
CATHY's birthday is on 18.
the dictionary list is done here!

**looping through all the keys in the dictionary**

In [2]:
fav_languages = {'Abhigna':'python','arjun':'java','anusha':'c','catherine':'msw'}

In [3]:
for k in fav_languages.keys():
    print(k.upper())

ABHIGNA
ARJUN
ANUSHA
CATHERINE

In [4]:
for key in fav_languages:
    print(key.title())

Abhigna
Arjun
Anusha
Catherine

In [8]:
key_words = {'any()':'iterator','sorted()':'temporary sort','del()':'delets the item','pop()':'removes item from the end'}
for k,v in key_words.items():
    print(k+" this method means : "+v+".")

any() this method means : iterator.
sorted() this method means : temporary sort.
del() this method means : delets the item.
pop() this method means : removes item from the end.

In [12]:
river_country = {'nile':'egypt','ganges':'india','arabian sea':'africa'}
for ke,va in river_country.items():
    print(ke.title()+" is the water basin of "+va+".")
print("\nthe rivers are : \n")
for ke in river_country:
    print("one of the major river is : "+ke.title()+".")
print("\nthe countries are : \n")
for va in river_country.values():
    print("the countries are : "+va.title()+".")

Nile is the water basin of egypt.
Ganges is the water basin of india.
Arabian Sea is the water basin of africa.

the rivers are :

one of the major river is : Nile.
one of the major river is : Ganges.
one of the major river is : Arabian Sea.

the countries are :

the countries are : Egypt.
the countries are : India.
the countries are : Africa.

In [15]:
 favorite_languages = {
       'jen': 'python',
       'sarah': 'c',
       'edward': 'ruby',
       'phil': 'python',
       }
people_lang = ['jen', 'edward' ,'abhigna' ,'arjun' ,'aloobonda']
for k,v in favorite_languages.items():
    if k in people_lang:
        print(k.title()+" thankyou for taking the poll")
    else:
        print(k.title()+" please consider tsking the poll!!")

Jen thankyou for taking the poll
Sarah please consider tsking the poll!!
Edward thankyou for taking the poll
Phil please consider tsking the poll!!

### A list of dictionaries
we can add diffrent dictionaries and contain them in a list

In [1]:
alien_0 = {'colour':'green','points':'5','speed':'slow'}
alien_1 = {'colour':'yellow','points':'10'}
aliens = [alien_0,alien_1]
for alien in aliens:
    print(alien)

{'colour': 'green', 'points': '5', 'speed': 'slow'}
{'colour': 'yellow', 'points': '10'}

In [22]:
space_creatures = []
for alien_number in range(0,30):
    new_alien = {'colour':'balack','points':'50'}
    space_creatures.append(new_alien)
    
for alaian in space_creatures[0:3]:
    if alaian['colour'] == 'balack':
        alaian['colour'] = 'pink'
        alaian['points'] = '100'
        
for alaian in space_creatures[0:5]:
    print(alaian)

{'colour': 'pink', 'points': '100'}
{'colour': 'pink', 'points': '100'}
{'colour': 'pink', 'points': '100'}
{'colour': 'balack', 'points': '50'}
{'colour': 'balack', 'points': '50'}

### a list in a Dictionary
rather than adding the dictionary into the list, its better adding the list into the dictionary

In [24]:
pizza = {'crust':'thick','toppings':['corn','capsicum','olives','cheese']}
print('you ordered a ' +pizza['crust']+' crust pizza with the following toppings')
for topping in pizza['toppings']:
    print(topping)

you ordered a thick crust pizza with the following toppings
corn
capsicum
olives
cheese

In [27]:
#second example
favourite_languages = {'abhigna':['python','javascript'], 'arjun':['html','css'],'anusha':['c','cpp','java']}
for name,languages in favourite_languages.items():
    print("\n"+name.title()+"'s favourite languages are :")
    for language in languages:
        print(language)

Abhigna's favourite languages are :
python
javascript

Arjun's favourite languages are :
html
css

Anusha's favourite languages are :
c
cpp
java

### dictionary in dictionary

In [35]:
users = {'aprasad':{'firstname':'abhigna','lastname':'prasad','location':'bengaluru'},
        'araju':{'firstname':'arjun','lastname':'raju','location':'kolar'},
        'avinay':{'firstname':'anusha','lastname':'vinay','location':'kerala'}}
for uname,deets in users.items():
    print("The user name : \n"+uname+"\nwith the details : ")
    full_name = deets['firstname'].title()+" "+deets['lastname'].title()
    location = deets['location']
    print("Full name : "+full_name)
    print("Location : "+location.title()+"\n")

The user name :
aprasad
with the details :
Full name : Abhigna Prasad
Location : Bengaluru

The user name :
araju
with the details :
Full name : Arjun Raju
Location : Kolar

The user name :
avinay
with the details :
Full name : Anusha Vinay
Location : Kerala

### activity
create 3 dictionaries and store values of diffrent people. Use first_name, last_name, age and city as the keys.. and create a list called people and add all these information there and print the details.

In [1]:
person_1 = {'first_name':'abhigna','last_name':'prasad','age':'21','city':'bengaluru'}
person_2 = {'first_name':'arjun','last_name':'raju','age':'28','city':'kolar'}
person_3 = {'first_name':'anusha','last_name':'vinay','age':'22','city':'kerala'}

person = [person_1, person_2, person_3]

for people in person:
    print(people)

{'first_name': 'abhigna', 'last_name': 'prasad', 'age': '21', 'city': 'bengaluru'}
{'first_name': 'arjun', 'last_name': 'raju', 'age': '28', 'city': 'kolar'}
{'first_name': 'anusha', 'last_name': 'vinay', 'age': '22', 'city': 'kerala'}

make a dictionary fav_places. think of 3 names to use as keys in the dictionary and save one to three places for each person and print the details